<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="col-md-3" style="border-right: 1px solid #e2e8f0; padding-right: 30px;">
  <div class="nav-buttons">
    <a href="/profile" class="btn btn-primary">
      <i class="fa-solid fa-user"></i> Hồ sơ
    </a>
    <a href="/profile/update" class="btn btn-primary">
      <i class="fas fa-user-edit"></i> Cập nhận thông tin
    </a>
    <a href="/profile/change-password" class="btn btn-warning">
      <i class="fas fa-key"></i> Đổi mật khẩu
    </a>
    <a href="/user/appointment/me" class="btn btn-success">
      <i class="fas fa-calendar-alt"></i> Danh sách lịch hẹn
    </a>
    <a href="/user/buy-pet" class="btn btn-info">
      <i class="fas fa-paw"></i> Danh sách thú cưng đã mua
    </a>
  </div>
</div>
</body>
</html>