<!-- create.html - Trang thêm mới cuộc hẹn -->
<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <title>Thêm Cuộc Hẹn</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>

<th:block th:replace="Admin/Layout/header"></th:block>
<th:block th:replace="Admin/Layout/navbar"></th:block>
<div class="container mt-4">
    <h3>Đặt lịch hẹn</h3>
    <form th:action="@{/appointments/new}" method="post">

        <div class="mb-3">
            <label for="petId" class="form-label">Thú cưng</label>
            <select id="petId" name="petId.id" class="form-control" required>
                <option value="">--Chọn thú cưng--</option>
                <option th:each="pet : ${pets}" th:value="${pet.id}" th:text="${pet.name}"></option>
            </select>
            <a href="admin/pets/add">Khác</a>
        </div>

        <div class="mb-3">
            <label for="serviceId" class="form-label">Dịch vụ</label>
            <select id="serviceId" name="serviceId.id" class="form-control" required>
                <option value="">--Chọn Dịch vụ--</option>
                <option th:each="service : ${services}" th:value="${service.id}" th:text="${service.name}"></option>
            </select>
        </div>
        <div class="mb-3">
            <label for="appointmentDate" class="form-label">Ngày hẹn</label>
            <input type="date" id="appointmentDate" name="appointmentDate" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="notes" class="form-label">Ghi chú</label>
            <textarea id="notes" name="notes" class="form-control" rows="3" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Thêm</button>
    </form>
</div>
</body>
</html>
